//====================================================================================================
.head {
   padding: 30px 0 59px 0;
      &__column {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   
      &__content{
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   
      &__avatar {
         margin: 0 0 33px 0;
         img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: -10px 10px 0px 0px #EDF7FA;
         }
      }
   
      &__title {
         margin: 0px 0px 20px 0px;
         text-align: center;
      }
   
      &__text {
         margin: 0px 0px 36px 0px;
         text-align: center;
      }
   
      &__btn {
      }
   }
   @media (min-width: $md1+px) {
      .head {
         width: 100%;
         height: 100%;
         padding: 100px 0 50px 0;
            &__column {
               flex-direction: row;
            }
         
            &__content{
               align-items: flex-start;
               order: 1;
               padding: 0px 100px 0px 0px;
            }
         
            &__avatar {
               margin: 0 0 33px 0;
               order: 2;
               align-self: start;
               img{
                  width: 250px;
                  height: 250px;
                  object-fit: cover;
                  border-radius: 50%;
                  box-shadow: -10px 10px 0px 0px #EDF7FA;
               }
            }
         
            &__title {
               margin: 0px 0px 40px 0px;
               text-align: left;
            }
         
            &__text {
               margin: 0px 0px 38px 0px;
               text-align: left;
            }
         
            &__btn {
               margin: 0px 0px 70px 0px;
            }
         }
   }
   
   .posts {
      background-color: #EDF7FA;
      padding: 2px 0px 38px 0px;
   
      &__column {
         
      }
   
      &__text{
      }
   
      &__title {
         text-align: center;
      }
   
      &__view {
         display: none;
         
      }
   
      &__content {
      }
   }
   .posts-content {
      &__column {
         display: block;
         margin: 0px 0px 15px 0px;
         background: #FFFFFF;
         color: $dark;
         box-shadow: 0px 4px 10px #bbe1fa40;
         border-radius: 4px;
         padding: 20px;
         transition: 0.3s;
         &:last-child{
            margin: 0px 0px 0px 0px;
         }
         &:hover{
            box-shadow: 0px 0px 15px 0px #00a7cc63;
            transition: 0.3s;
         }
      }
   
      &__title {
         margin: 0px 0px 12px 0px;
      }
   
      &__subtitle {
         margin: 0px 0px 20px 0px;
   
         &_data {
            position: relative;
            margin: 0px 47px 0px 0px;
            &::after{
               content: '';
               position: absolute;
               background-color: $dark;
               right: -26px;
               top: 0;
               width: 1px;
               height: 20px;
            }
         }
   
         &_tema {
         }
      }
   
      &__text {
      }
   }
   @media (min-width:$md1+px){
      .posts {
   
         &__column {
            
         }
   
         &__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
         }
   
         &__title {
         }
   
         &__view {
            display: inline;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: $blue;
            &:hover{
               text-decoration: underline;
            }
         }
   
         &__content {
         }
      }
   .posts-content {
      display: flex;
      
      
         &__column {
            margin: 0px 10px 0px 0px;
            flex: 1;
         }
   
         &__title {
         }
   
         &__subtitle {
   
            &_data {
            }
   
            &_tema {
            }
         }
   
         &__text {
         }
      }
   
   }
   
   .works {
      padding: 0px 0px 50px 0px;
   
      &__container {
      }
   
      &__content {
         padding: 0 10px;
      }
   
      &__title {
         text-align: center;
      }
   
      &__cards {
      }
   
      &__card {
         padding: 0px 0px 15px 0px;
      }
   }
   .works-card {
      padding: 10px;
      border-bottom: 1px solid #E0E0E0;
      &_1 {
         display: block;
      }
      &__image {
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
         }
      }
   
      &__title {
         margin: 15px 0 15px 0;
      }
   
      &__subtitle {
         margin: 0px 0px 25px 0px;
   
         &_data {
            background: #142850;
            border-radius: 16px;
            color: #FFFFFF;
            font-weight: 900;
            font-size: 16px;
            padding: 0 10px;
            margin: 0px 22px 0px 0px;
         }
   
         &_tema {
            color: #8695A4;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
         }
      }
   
      &__text {
         font-size: 16px;
         line-height: 23px;
         color: $dark;
      }
   }
   @media (min-width:$md1+px){
      .works {
   
         &__container {
         }
   
         &__content {
         }
   
         &__title {
            text-align: left;
         }
   
         &__cards {
         }
   
         &__card {
         }
   }
   .works-card {
      &:first-child{
         margin: 0px 0px 0px 0;
      }
      display: flex;
      margin: 30px 0px 0px 0;
      transition: 0.5s;
      &:hover {
         background-color: #EDF7FA;
         border-radius: 6px;
         transition: 0.3s;
      }
         &_1 {
         }
   
         &_2 {
         }
   
         &_3 {
         }
   
         &__image {
            flex: 1;
            img{
            }
         }
   
         &__content {
            flex: 2;
            padding: 0 0 0 10px;
         }
   
         &__title {
         }
   
         &__subtitle {
   
            &_data {
            }
   
            &_tema {
            }
         }
   
         &__text {
         }
   }
   
   }
   
//====================================================================================================
